<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleDisplayName</key>
	<string>TorrServer</string>
	<key>CFBundleExecutable</key>
	<string>TorrServerManager</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.holymayhem.torrserver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TorrServer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.0</string>
	<key>CFBundleVersion</key>
	<string>40</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/HolyMayhem/TorrServe-Silicon/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>SG21kG1FWTmEuVsbLMtg3UZ9b6qdsjYTfUBxke8/rF0=</string>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
